@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

// Color Declarations
$header: #f9fafa;
$white: #fff;
$text-color: #28b1ec;
$text: #38464d;
$text2: #ff951f;
$text3: #0f52ba;
$text4: #dd4b39;

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

// header

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $header;
  padding: 2rem 9%;

  .logo {
    color: $text4;
    font-size: 2.3rem;
    text-transform: uppercase;
  }
  .navbar {
    a {
      margin: 0 1rem;
      font-size: 1.9rem;
      color: $text4;
    }
  }
  .btn {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    color: $text4;
    background: none;
    border: 1px solid $text4;
    cursor: pointer;
    font-size: 1.7rem;

    i {
      margin-left: 0.3rem;
    }
    &:hover {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
  #menu-btn {
    font-size: 3rem;
    color: $text4;
    cursor: pointer;
    display: none;
  }
}

// Home

.home {
  background: $header;
  // min-height: 100vh;
  padding-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;

  .content {
    flex: 1 1 40rem;

    h3 {
      font-size: 3.8rem;
      color: $text;
      font-weight: 700;
    }
    h4 {
      font-size: 2.8rem;
      color: $text;
      font-weight: 300;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.7rem;
      color: $text;
      padding: 1rem 0;
      max-width: 85%;
      line-height: 1.6;
    }
    .btn {
      display: inline-block;
      padding: 0.9rem 1.5rem;
      color: $text2;
      background: none;
      border: 1px solid $text2;
      cursor: pointer;
      font-size: 1.7rem;

      &:hover {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
    .button {
      display: flex;
      gap: 1.7rem;
      align-items: center;
      margin: 2rem 0;

      h6 {
        font-size: 2.1rem;
        color: $text3;
      }
    }
  }

  .image {
    flex: 1 1 40rem;

    img {
      width: 100%;
    }
  }
}

// Media Queries
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .header {
    #menu-btn {
      display: initial;
    }
    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: $header;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }

      a {
        display: block;
        font-size: 2.2rem;
        margin: 0;
        padding: 1.5rem 2rem;
      }
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 400px) {
  .home {
    .content {
      p {
        max-width: 100%;
      }
    }
  }
}
